<form method="POST">
    <label for="input-username">Username</label>
    <input type="text" id="input-username" name="username" placeholder="Username" required="required" />

    <label for="input-password">Password</label>
    <input type="password" id="input-password" name="password" placeholder="Password" required="required" />

<button>Login</button>

</form>